# Package Managers
package-lock.json
pnpm-lock.yaml
yarn.lock
bun.lock
bun.lockb
*.mdx

# Miscellaneous
/static/
/tina/__generated__
/tina/tina-lock.json
/src/lib/components/ui/
/.storybook
/src/content/
